<div flex layout="row">
    <md-content flex id="left-content" style="border-right: 1px solid black;">
        <div class="view-mode" ng-show="!vm.inCreateMode">
            <h1>
                You currently have no active claims
            </h1>
            <md-button class="md-primary md-raised" ng-click="vm.enterCreateClaimMode($event)">
                Create Claim
            </md-button>
        </div>

        <div class="create-mode full-height" ng-show="vm.inCreateMode">
            <div class="claim-creation-wizard full-height">
                <md-content class="md-padding">
                    <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
                        <md-tab class="first-step"
                                label="Step One"
                                ng-disabled="vm.locks.firstTabLock"
                                md-active="vm.activeStatus.firstTabActive">
                            <md-input-container>
                                <span class="prompt">Who is your claim against?</span>
                                <input ng-model="vm.claimee" required md-maxlength="100" minlength="0">
                            </md-input-container>
                            <md-button class="md-primary md-raised" ng-click="vm.searchClaimee($event)">
                                Search
                            </md-button>
                            <div class="claimee-detail" ng-show="vm.displayClaimee">
                                <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">Bill’s Kitchens Ltd</span>
                                        </md-card-title-text>
                                    </md-card-title>
                                    <div class="address-lines">
                                        <div>1 High Street</div>
                                        <div>Trumpington</div>
                                        <div>Noshire NN1 2TT</div>
                                        <div>Company number 987654321</div>
                                    </div>
                                    <md-card-actions layout="row" layout-align="end center">
                                        <div class="prompt-small">Is it this company?</div>
                                        <md-button class="md-primary md-raised" ng-click="vm.confirmClaimee($event)">
                                            Yes
                                        </md-button>
                                        <md-button class="md-primary md-raised" ng-click="vm.discardClaimee($event)">
                                            No
                                        </md-button>
                                    </md-card-actions>
                                </md-card>


                            </div>
                        </md-tab>
                        <md-tab class="second-step"
                                label="Step Two"
                                ng-disabled="vm.locks.secondTabLock"
                                md-active="vm.activeStatus.secondTabActive">
                            <md-input-container>
                                <div class="prompt">We’re now going to ask you about the problem and how you’d like it
                                    resolved.
                                </div>
                                </br>
                                <div><b>Please summarise the problem </b></div>
                                </br>
                                <div>* You can write a summary, upload a video (time limit: 2 minutes) or both</div>


                                <input ng-model="vm.problemDescription" required md-maxlength="500" minlength="0">
                            </md-input-container>

                            <md-button class="md-primary md-raised" ng-click="vm.confirmProblem($event)">
                                Next Step
                            </md-button>
                        </md-tab>
                        <md-tab class="third-step"
                                label="Step Three"
                                ng-disabled="vm.locks.thirdTabLock"
                                md-active="vm.activeStatus.thirdTabActive">
                            <md-input-container>
                                <div class="prompt">How do you think the problem should be resolved?</div>
                                <div>* You can cover this in your video or write a summary, or both.  If you want to be
                                    paid a certain amount of money, please make that clear.
                                </div>
                                <div>* Options</div>
                                <div>
                                    <md-checkbox ng-model="vm.coveredInVideo" aria-label="Checkbox 1">
                                        I’ve covered this in my video
                                    </md-checkbox>
                                </div>
                                <div>
                                    <md-checkbox ng-model="vm.ownSolution" aria-label="Checkbox 1">
                                        Add written summary
                                    </md-checkbox>
                                    <div class="solution-input">
                                        <md-input-container>
                                            <input ng-model="vm.problemSolution" required md-maxlength="500" minlength="0"
                                                   ng-disabled="!vm.ownSolution">
                                        </md-input-container>
                                    </div>
                                </div>
                            </md-input-container>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </div>
    </md-content>

    <md-content flex id="right-content" ng-show="vm.inCreateMode">
        <div class="claimee-container" ng-show="vm.rhp.displayClaimee">
            <div class="prompt">You are claiming against:    </div>
            <div>{{vm.claimee}}</div>
            <div>Bill’s Kitchens Ltd</div>
            <div>1 High Street</div>
            <div>Trumpington</div>
            <div>Noshire NN1 2TT</div>
            <div>Company number 987654321</div>
            </br>
        </div>

        <div class="problem-description-container" ng-show="vm.rhp.displayProblemSummary">
            <div class="prompt">Summary of the problem:</div>
            <div>{{vm.problemDescription}}</div>
            </br>
        </div>

        <div class="problem-resolution-container" ng-show="vm.rhp.displayProblemSolution">
            <div class="prompt">How do you think the problem should be resolved?</div>
            <div ng-show="vm.coveredInVideo">* I’ve covered this in my video</div>
            <div ng-show="vm.ownSolution">{{vm.problemSolution}}</div>
        </div>
    </md-content>
</div>