<div flex layout="row">

    <md-content flex id="content" style="border-right: 1px solid black;">
        <div class="defendant-wizard full-height">
            <md-content class="md-padding">
                <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
                    <md-tab md-active="vm.activeStatus.firstTabActive"
                            ng-disabled="vm.locks.firstTabLock"
                            label="1. Claim">
                        <br/>
                        <div><b>Claim brought against you by Martin Smith.</b></div>
                        <br/>
                        <div class="block">
                            <div>This is some summary information</div>
                            <br/>
                            <video style="float:right" width="320" height="240" preload="auto"
                                   controls>
                                <source src="./assets/taps.mp4" type="video/mp4"/>
                            </video>
                        </div>
                        <br/>
                        <div>Do you agree?</div>
                        <br/>
                        <div style="padding-left:20px;">
                            <md-radio-group ng-model="vm.agreeToClaim">
                                <md-radio-button aria-label="Checkbox 1" ng-value="1">
                                    Yes
                                </md-radio-button>
                                <md-radio-button aria-label="Checkbox 1" ng-value="2">
                                    No
                                </md-radio-button>
                            </md-radio-group>
                        </div>
                        <div ng-show="vm.agreeToClaim=='2'">
                            <div>
                                <h2 ng-click="vm.showClaimText()">Text</h2>
                                <div ng-show="vm.disagreeClaim.textVisible">
                                    <md-input-container>
                                        <input ng-model="vm.claimDisputeText" required md-maxlength="500"
                                               minlength="0"/>
                                    </md-input-container>
                                </div>
                            </div>
                            <div>
                                <h2 ng-click="vm.showClaimVideo()">Video</h2>
                                <div ng-show="vm.disagreeClaim.videoVisible">
                                    This is video
                                </div>
                            </div>
                        </div>
                        <br/>
                        <md-button class="md-primary md-raised block" ng-click="vm.next()">
                            Next Step
                        </md-button>
                    </md-tab>
                    <md-tab md-active="vm.activeStatus.secondTabActive"
                            ng-disabled="vm.locks.secondTabLock"
                            label="2. Suggested Solution">
                        <br/>
                        <div>Solution provided in claim video</div>
                        <br/>
                        <div style="padding-left:20px;">
                            <md-radio-group ng-model="vm.agreeToSolution">
                                <md-radio-button aria-label="Checkbox 1" ng-value="1">
                                    Yes
                                </md-radio-button>
                                <md-radio-button aria-label="Checkbox 1" ng-value="2">
                                    No
                                </md-radio-button>
                            </md-radio-group>
                        </div>
                        <div ng-show="vm.agreeToSolution=='2'">
                            <div>
                                <h2 ng-click="vm.showSolutionText()">Text</h2>
                                <div ng-show="vm.disagreeSolution.textVisible">
                                    <md-input-container>
                                        <input ng-model="vm.claimDisputeVideo" required md-maxlength="500"
                                               minlength="0"/>
                                    </md-input-container>
                                </div>
                            </div>
                            <div>
                                <h2 ng-click="vm.showSolutionVideo()">Video</h2>
                                <div ng-show="vm.disagreeSolution.videoVisible">
                                    This is video
                                </div>
                            </div>
                        </div>
                        <md-button class="md-primary md-raised block" ng-click="vm.sendResponse()">
                            Submit Response
                        </md-button>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
    </md-content>

    <!-- Container #4 -->
    <md-content flex id="content">
    </md-content>
</div>