<div flex layout="row">

    <md-content flex id="content" style="border-right: 1px solid black;">
        <div class="defendant-wizard full-height">
            <md-content class="md-padding">
                <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
                    <md-tab md-active="vm.activeStatus.firstTabActive"
                            ng-disabled="vm.locks.firstTabLock"
                            label="1. Claim">
                        <br />
                            <div><b>Claim brought against you by Martin Smith.</b></div>
                            <br />
                            <div class="block">
                                <div>This is some summary information</div>
                                <br />
                                <video style="float:right" width="320" height="240" preload="auto"
                                       controls>
                                    <source src="./assets/taps.mp4" type="video/mp4"/>
                                </video>
                            </div>
                            <br/>
                            <md-button class="md-primary md-raised block" ng-click="vm.next()">
                                Next Step
                            </md-button>
                    </md-tab>
                    <md-tab md-active="vm.activeStatus.secondTabActive"
                            ng-disabled="vm.locks.secondTabLock"
                            label="2. Suggested Solution">
                        <div>Solution provided in claim video</div>
                        <br/>
                        <md-button class="md-primary md-raised block" ng-click="vm.sendResponse()">
                            Submit Response
                        </md-button>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
    </md-content>

    <!-- Container #4 -->
    <md-content flex id="content">
    </md-content>
</div>